<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="IP" value="127.0.0.1" />
    <add key="Port" value="55055" />
    <add key="Dest" value="%APPDATA%\HylaSoft\" />
    <add key="Proc" value="PR-1;PR-2;PR-3;PR-4;RF-10;RF-12;TFB" />
    <add key="Shift" value="Shift 1, Shift 2, Shift 3" />
    <add key="GetIQSGroups" value="true" />
    <add key="UseIQSProcesses" value="true" />
    <add key="LogSetting" value="All" />
    <add key="Delimiter" value="\t" />
    <add key="TestIQSConnection" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Keyence2IQS.Properties.Settings.ConnectionString" connectionString="Dsn=test;Uid=sa;Pwd=Hyla10$;" providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>