<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="IP" value="127.0.0.1" />
    <add key="Port" value="55055" />
    <add key="Dest" value="%APPDATA%\HylaSoft\" />
    <add key="Proc" value="PR-1;PR-2;PR-3;PR-4;RF-10;RF-12;TFB" />
    <add key="Shift" value="Shift 1, Shift 2, Shift 3" />
    <add key="GetIQSGroups" value="true" />
    <add key="UseIQSProcesses" value="true" />
    <add key="LogSetting" value="All" />
    <add key="Delimiter" value="\t" />
    <add key="TestIQSConnection" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Keyence2IQS.Properties.Settings.ConnectionString"
      connectionString="Dsn=test;Uid=sa;Pwd=Hyla10$;" providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>